NEXT_PUBLIC_APP_VERSION=development
NEXT_PUBLIC_APP_BASE_URL=http://localhost:3201
NEXT_PUBLIC_MARKETING_BASE_URL=http://localhost:3200
NEXT_PUBLIC_GRPC_URL=http://localhost:4666
NEXT_PUBLIC_API_URL=http://localhost:3201
NEXT_PUBLIC_DEBUG_LOGGING=false
